.odd-row {
    -fx-background-color: -fx-control-inner-background-alt;
    -fx-border-color: -fx-text-box-border;
    -fx-border-width: 1px 0 1px 0;
}

.row:hover {
    -fx-background-color: -fx-focus-color;
}

.add-button {
    -fx-text-fill: forestgreen;
}

.delete-button {
    -fx-text-fill: firebrick;
}

.other-buttons {
    -fx-opacity: 0.8;
}

.warn-text {
    -fx-text-fill: darkorange;
}

.star {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 4, 0, 1, 1);
    -fx-text-fill: gold;
}

.invisible {
    -fx-opacity: 0;
}