.odd-row {
    -fx-background-color: -fx-control-inner-background-alt;
}

.add-button {
    -fx-text-fill: limegreen;
}

.delete-button {
    -fx-text-fill: firebrick;
}

.other-buttons {
    -fx-opacity: 0.8;
}