name: Make draft release

on:
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: write
    uses: qupath/actions/.github/workflows/github-release.yml@main
    with:
      build-path: extensionmanager/build/libs/*.jar
